<form (ngSubmit)="submitPurchase(purchaseForm)" #purchaseForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="store">Store</label>
      <select
        class="form-control"
        required
        [ngModel]
        name="species">
        <option
          *ngFor="let store of stores"
          [ngValue]="store">{{ store }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="date">Date</label>
      <input
      type="datetime-local"
      class="form-control"
      [ngModel]
      name="date"
      required>
    </div>
  </div>
  <br>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="store">Pepsi Amount</label>
      <input
      type="number"
      class="form-control"
      placeholder="Pepsi Amount"
      [ngModel]
      name="pepsiAmountInLitres">
    </div>
    <div class="form-group col-md-3">
      <label for="store">Pepsi Price</label>
      <input
      type="number"
      class="form-control"
      placeholder="Store"
      [ngModel]
      name="pepsiPriceInPurchase">
    </div>
    <div class="form-group col-md-3">
      <label for="store">Monster Amount</label>
      <input
      type="number"
      class="form-control"
      placeholder="Monster Amount"
      [ngModel]
      name="monsterAmountInCans">
    </div>
    <div class="form-group col-md-3">
      <label for="store">Monster Price</label>
      <input
      type="number"
      class="form-control"
      placeholder="Monster Price"
      [ngModel]
      name="monsterPricePerCan">
    </div>
  </div>
  <div class="button-margin">
    <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!purchaseForm.valid">Add Purchase</button>
  <button
    class="btn btn-danger"
    type="button"
    (click)="clear(purchaseForm)">Clear Form</button></div>
</form>
